.todoList {
    margin-top: 20px;
    width: 100%;

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
p,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
input {
    padding: 5px;
    color: rgb(75, 75, 75);
    width: 70%;
}
.title {
    margin: 10px 0;
    color: rgb(75, 75, 75);
}